/* VARIABLES */
:root {
    --font-base: "Poppins", sans-serif;
    --color-dark: #212529;
    --color-body: #727272;
    --color-brand: #0D85D1;
    --color-brand-light: #25aafd;
    --color-brand-rgb: 13, 133, 209;
    --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
    --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--color-body);
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 600;
    color: var(--color-dark);
}

a {
    text-decoration: none;
    color: var(--color-brand);
}

a:hover {
    color: var(--color-brand-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

/* NAVBAR */
.navbar {
    box-shadow: var(--box-shadow);
}

.navbar-nav .nav-link {
    font-weight: 600;
    color: var(--color-dark);
    cursor: pointer;
}

.navbar-nav .nav-link:hover {
    color: var(--color-brand);
}

.navbar-nav .nav-link.active {
    color: var(--color-brand);
}

/* Ensure dropdown menu appears when hovering over either the parent or the dropdown menu */
.custom-dropdown:hover .custom-dropdown-menu,
.custom-dropdown-menu:hover {
    display: block;
}

/* Ensures dropdown menu appears below the "Services" item */
.custom-dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 10px 0;
}

/* Maintain hover effect on "Services" when hovering over the dropdown */
.custom-dropdown:hover>.nav-link,
.custom-dropdown-menu:hover,
.custom-dropdown-menu .dropdown-item:hover {
    color: var(--color-brand);
}

/* BUTTON */
.btn {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 24px;
}

.btn-brand {
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    color: white;
}

.btn-brand:hover {
    background-color: var(--color-brand-light);
    border-color: var(--color-brand-light);
    color: black;
}

/* HERO */
#hero {
    background: linear-gradient(rgba(var(--color-brand-rgb), 0.4), rgba(var(--color-brand-rgb), 0.4)), url(../img/hero.jpg);
    background-position: center;
    background-size: cover;
}

/* ABOUT */
#about {
    position: relative;
}

#about::before {
    content: "";
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-brand);
    z-index: -1;
}

#about h6 {
    color: var(--color-brand);
}

@media (max-width: 992px) {
    #about::before {
        height: 40%;
        width: 100%;
    }
}

/* SECTION TITLE */
.section-title {
    text-align: center;
    max-width: 600px;
    margin: 0 auto 40px auto;
}

.section-title h6 {
    color: var(--color-brand);
}

/* CTA */
#cta {
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/cta.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#cta h2,
#cta p {
    color: white;
}

/* SERVICES */

.service {
    border-radius: 75px 0 75px 0;
}

.service img {
    transition: transform 0.2s ease-out;
}

.service:hover img {
    transform: translateY(-7px);
}

/* CONTACT */
#contact {
    position: relative;
    z-index: 2;
}

#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: url(../img/contact.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#contact .form-control {
    border-radius: 0;
}

#contact .form-control:focus {
    box-shadow: none;
    border-color: var(--color-brand);
}

/* FOOTER */
footer {
    padding-top: 80px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
}

footer li,
footer p,
footer a {
    color: rgb(255, 255, 255, 0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--color-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--color-brand);
    color: white;
}

.footer-icon {
    color: var(--color-brand);
}


/* ========== CONTACT PAGE ========== */
.map-container {
    width: 100%;
    border-radius: 8px;
    margin: 20px 0 20px 0;
}

.map-container iframe {
    width: 100%;
    height: 360px;
    border: 0;
}

/* TESTIMONIALS */
.scroll-wrapper {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;

    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.scroll-wrapper::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
}

.scroll-track {
    scroll-snap-align: start;
    display: flex;
    animation: scrollLeft 30s linear infinite;
    width: max-content;
}

.testimonial-card {
    scroll-snap-align: start;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* BLOG PAGE */
.blog-section {
    padding: 60px 0;
}

.blog-img {
    max-height: 400px;
    object-fit: cover;
}


/* ABOUT PAGE */
#vision-mission h2 {
    font-weight: 700;
}

#vision-mission p {
    font-size: 1rem;
    color: #333;
}

#values .bg-white:hover {
    transform: translateY(-5px);
    transition: 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}


/* FAQ */

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}